.black {
    background-color: black;
    height: 200px;
}

.yellow {
    height: 200px;
    background-color: #F9DE52;
}

.red {
    height: 200px;
    background-color: #EA2D3F;
}

ul {
    height: 70px;
}

.button {
    margin: 5px;
}

.top-bar{
    height: 70px;
} 